body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f0f0f0, #e0e0e0);
  transition: background 0.3s ease;
}

.app {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
  color: #333;
  position: relative;
  transition: all 0.3s ease;
}

.app.dark {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #232526, #414345);
}
.app.dark h1 {
  color: #f5f5f5; /* or try #eaeaea, adjust brightness as needed */
}


.toggle-btn {
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 24px;
  border: none;
  background: transparent;
  color: #767676;
  transition: all 0.3s ease;
}

.app.dark .toggle-btn {
  color: white;
}

.toggle-btn.move-right {
  transform: translateX(10px);
}

.toggle-btn.move-left {
  transform: translateX(0px);
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.input-section input:focus {
  border-color: #007bff;
}

.input-section button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.input-section button:active {
  transform: scale(0.95);
}

.filter-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-buttons button {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2d2c2c;
  color: white;
  transition: transform 0.2s ease, background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-buttons button:hover {
  background-color: #666;
  transform: scale(1.05);
}

.filter-buttons .active-filter {
  background-color: #999;
  color: #000;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
